
{% extends 'base.html' %}
{% load static %}
    <!-- BLOCK1 -->
    {% block content %}
    <link rel="stylesheet" href="{%static 'static/css/chat.css'%}" />
    <link rel="stylesheet" href="{%static 'static/css/home.css'%}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {%endblock%}
    <!-- END BLOCK1 -->

   

    <!-- BLOCK2 -->
    {% block extra_content %}
    <!-- Start Page Title Area -->
    <div class="page-title-area">
      <div class="container">
        <div class="page-title-content">
          <h2>Our Team</h2>

          <ul>
            <li>
              <a href="index-2.html"> Home </a>
            </li>

            <li class="active">Our Doctors</li>
          </ul>
        </div>
      </div>

      <img
        src="{%static 'assets/images/page-shape-1.png'%}"
        class="shape page-shape-1"
        alt="Image"
      />
      <img
        src="{%static 'assets/images/page-shape-2.png'%}"
        class="shape page-shape-2"
        alt="Image"
      />
    </div>
    <!-- End Page Title Area -->

    <!-- Start Doctors Area Area -->
    <div class="doctors-area ptb-100">
      <div class="container">
        <div class="section-title wow fadeInUp delay-0-2s">
          <span class="top-title">Our Team</span>
          <h2>Meet Our Specialized Team</h2>
        </div>

        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="single-doctor wow fadeInUp delay-0-2s">
              <img src="{%static 'assets/images/doctors/doctor-1.jpg'%}" alt="Image" />
              <h3>Prof. Shereen Taie</h3>
              <span>Supervisor</span>

              <ul>
                <li>
                  <a href="https://facebook.com/" target="_blank">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/" target="_blank">
                    <i class="ri-twitter-line"></i>
                  </a>
                </li>
                <li>
                  <a href="https://linkedin.com/" target="_blank">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://instagram.com/" target="_blank">
                    <i class="ri-instagram-line"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="single-doctor wow fadeInUp delay-0-4s">
              <img src="{%static 'assets/images/doctors/doctor-2.jpg'%}" alt="Image" />
              <h3>Eng. Rodayna Yasser</h3>
              <span>Team leader & ML engineering</span>

              <ul>
                <li>
                  <a href="https://facebook.com/" target="_blank">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/" target="_blank">
                    <i class="ri-twitter-line"></i>
                  </a>
                </li>
                <li>
                  <a href="https://linkedin.com/" target="_blank">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://instagram.com/" target="_blank">
                    <i class="ri-instagram-line"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="single-doctor wow fadeInUp delay-0-6s">
              <img src="{%static 'assets/images/doctors/doctor-3.jpg'%}" alt="Image" />
              <h3>Eng. Hady Abdelmonem</h3>
              <span>Front-end developer</span>

              <ul>
                <li>
                  <a href="https://facebook.com/" target="_blank">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/" target="_blank">
                    <i class="ri-twitter-line"></i>
                  </a>
                </li>
                <li>
                  <a href="https://linkedin.com/" target="_blank">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://instagram.com/" target="_blank">
                    <i class="ri-instagram-line"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="single-doctor wow fadeInUp delay-0-8s">
              <img src="{%static 'assets/images/doctors/doctor-4.jpg'%}" alt="Image" />
              <h3>Eng. Mahmoud Ahmed</h3>
              <span>Front-end developer</span>

              <ul>
                <li>
                  <a
                    href="https://www.facebook.com/profile.php?id=100041875096960"
                    target="_blank"
                  >
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/Mahmoud78055737" target="_blank">
                    <i class="ri-twitter-line"></i>
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com/in/mahmoud-ahmed-98332b1a2/"
                    target="_blank"
                  >
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/mahmoudragab982/"
                    target="_blank"
                  >
                    <i class="ri-instagram-line"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="single-doctor wow fadeInUp delay-0-2s">
              <img src="{%static 'assets/images/doctors/doctor-5.jpg'%}" alt="Image" />
              <h3>Eng. Mayar Magdy</h3>
              <span>Back-end developer</span>

              <ul>
                <li>
                  <a href="https://www.facebook.com/MAI.MAGDY.44/" target="_blank">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/mayar-magdy-saber-352119214/" target="_blank">
                    <i class="ri-twitter-line"></i>
                  </a>
                </li>
                <li>
                  <a href="https://linkedin.com/" target="_blank">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/mayarmagdy865/" target="_blank">
                    <i class="ri-instagram-line"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="single-doctor wow fadeInUp delay-0-4s">
              <img src="{%static 'assets/images/doctors/doctor-6.jpg'%}" alt="Image" />
              <h3>Eng. Youmna Emad</h3>
              <span>Ml Engineering</span>

              <ul>
                <li>
                  <a href="https://facebook.com/" target="_blank">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/" target="_blank">
                    <i class="ri-twitter-line"></i>
                  </a>
                </li>
                <li>
                  <a href="https://linkedin.com/" target="_blank">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://instagram.com/" target="_blank">
                    <i class="ri-instagram-line"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="single-doctor wow fadeInUp delay-0-6s">
              <img src="{%static 'assets/images/doctors/doctor-7.jpg'%}" alt="Image" />
              <h3>Eng. Monoura Hassan</h3>
              <span>Ml Engineering</span>

              <ul>
                <li>
                  <a href="https://facebook.com/" target="_blank">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/" target="_blank">
                    <i class="ri-twitter-line"></i>
                  </a>
                </li>
                <li>
                  <a href="https://linkedin.com/" target="_blank">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="https://instagram.com/" target="_blank">
                    <i class="ri-instagram-line"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Doctors Area -->

    {%endblock %}
    <!-- END BLOCK CONTENT -->

   
    <!-- START BLOCK CONTENT -->
    {% block extra_content1 %}
    <script src="{%static 'static/scripts/chat.js'%}"></script>
    {% endblock %}
    <!-- END BLOCK CONTENT -->
  </body>
</html>
