{% extends 'base.html' %}
{% load static %}

    <!-- BLOCK1 -->
    {% block content %}
    <link rel="stylesheet" href="{%static 'static/css/chat.css'%}" />
    <link rel="stylesheet" href="{%static 'static/css/home.css'%}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {%endblock%}
    <!-- END BLOCK1 -->

   

    <!-- BLOCK2 -->
    {% block extra_content %}
    <!-- Start Page Title Area -->
    <div class="page-title-area">
      <div class="container">
        <div class="page-title-content">
          <h2>Privacy Policy</h2>

          <ul>
            <li>
              <a href="{%url 'home'%}"> Home </a>
            </li>

            <li class="active">Privacy Policy</li>
          </ul>
        </div>
      </div>

      <img
        src="{%static 'assets/images/page-shape-1.png'%}"
        class="shape page-shape-1"
        alt="Image"
      />
      <img
        src="{%static 'assets/images/page-shape-2.png'%}"
        class="shape page-shape-2"
        alt="Image"
      />
    </div>
    <!-- End Page Title Area -->

    <!-- End Privacy policy Area -->
    <section class="ptb-100">
      <div class="container">
        <div class="main-content-text">
          <h3>1. Personal information:</h3>
          <p>
            “Personal information” means any information that may be used to
            identify an individual. Personal information includes information
            such as your name, address, telephone number, e-mail address, and
            other similar information.
          </p>

          <div class="gap-20"></div>

          <h3>2. Collecting personal information:</h3>
          <p>
            To access the update feature of this website, you must first
            complete a brief registration form. During registration you are
            required to provide certain personal information (such as name and
            email). By registering, you agree to receive certain communications
            from Healthcare Ready. After registration, you may be given the
            option as to whether or not you want to receive other types of
            communication from us.
          </p>
          <p>
            We collect personal information about you, including personal
            information that you provide when you register to use this site (as
            described above). You may access and browse some of our website
            without disclosing personal information. Please be aware, however,
            that providing certain requested information may be necessary for
            you to participate in particular features or services described on
            this site.
          </p>

          <div class="gap-20"></div>

          <h3>3. Using and disclosing your personal information:</h3>
          <p>
            We may provide personal information to other companies who provide
            services on our behalf, such as creating your account, handling the
            processing and delivery of communications, hosting this website, and
            delivery of content and services provided by this website.
          </p>
          <p>
            We may access, use or disclose your personal information for other
            reasons, including if we believe such action is necessary to comply
            with the law or legal process, protect and defend our rights or
            property, protect the personal safety of users of our website or
            members of the general public, enforce our Terms of Use or other
            agreements, investigate or take action with respect to illegal or
            suspected illegal activities, in connection with a corporate
            transaction, such as a divestiture, merger, consolidation, asset
            sale, or in the unlikely event of bankruptcy, or otherwise pursuant
            to your consent.
          </p>
          <p>
            Personal information will not be posted or published by us, and
            except as specified in this Privacy Policy, it will not be provided
            to third-parties without your consent.
          </p>

          <div class="gap-20"></div>

          <h3>4. Your Choices and Rights:</h3>
          <p>
            Residents of the European Union can exercise certain data subject
            rights available to them under applicable data protection laws.
            Where such rights apply, we will comply with requests to exercise
            these rights in accordance with applicable law. Please note: certain
            information may be exempt from such requests in some circumstances,
            which may include if we need to keep using/processing your
            information for our legitimate interests or to comply with a legal
            obligation. If these rights apply to you, they may permit you to
            request that we:
          </p>
          <ul>
            <li>
              <i class="ri-check-line"></i>
              Provide access to or a copy of certain personal information we
              hold about you;
            </li>
            <li>
              <i class="ri-check-line"></i>
              Prevent the processing of your personal information for direct
              marketing purposes;
            </li>
            <li>
              <i class="ri-check-line"></i>
              Update personal information which is out of date or incorrect;
            </li>
            <li>
              <i class="ri-check-line"></i>
              Delete certain personal information which we are holding about
              you;
            </li>
            <li>
              <i class="ri-check-line"></i>
              Restrict the way that we process and disclose specific personal
              information about you;
            </li>
            <li>
              <i class="ri-check-line"></i>
              Transfer your personal information to a third-party provider of
              services;
            </li>
            <li>
              <i class="ri-check-line"></i>
              Allow you to revoke consent that you previously provided for the
              processing of your personal information.
            </li>
          </ul>

          <div class="gap-20"></div>

          <h3>5. Security:</h3>
          <p>
            The security of your information is important to us. We take
            precautions to protect your information by implementing safeguards
            to protect the information we collect. But you should keep in mind
            that no website or Internet transmission is ever completely secure
            or error-free. PLEASE NOTE: The safety and security of your
            information also depends on you. We urge you to take steps to keep
            your private information secure, such as choosing strong passwords
            and never sharing your password with anyone else. If you create or
            receive a password in connection with access to our Sites, please
            notify us promptly if you believe your password security has been
            breached, and remember to log off of the Site before you leave your
            computer or mobile device.
          </p>
          <p>
            The Sites may offer opportunities to communicate through email.
            Because normal email is not encrypted, the possibility exists that
            unauthorized individuals may intercept email messages. Provision,
            its parents, and affiliates are not responsible for the privacy and
            security of email messages except those stored in our system. Please
            do not send any sensitive or personal information or Protected
            Health Information to us in email unless it is encrypted.
          </p>

          <div class="gap-20"></div>

          <h3>6. Sharing of informations:</h3>
          <p>
            We may share the information described above as set forth in this
            Policy or as otherwise described at the time such information is
            collected from you. We will not sell, rent, or swap this
            information, nor will we authorize any of our service providers or
            business partners to use this information for their own commercial
            purposes without your permission.
          </p>
        </div>
      </div>
    </section>
    <!-- End Privacy policy Area -->

    {%endblock %}
    <!-- END BLOCK CONTENT -->

    
    <!-- START BLOCK CONTENT -->
    {% block extra_content1 %}
    <script src="static/scripts/chat.js"></script>
    {% endblock %}
    <!-- END BLOCK CONTENT -->
  </body>
</html>
